dify/workflows/enterprise_assistant_nl2sql_router.yml
app:
  description: 企业管理查询助手 NL2SQL 路由器。负责把用户自然语言问题解析为后端固定查询接口意图和参数，不直接执行数据库 SQL。
  icon: 🧭
  icon_background: '#E8F3FF'
  mode: workflow
  name: 企业管理查询助手-NL2SQL路由器
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: llm
        id: start-router
        source: start
        sourceHandle: source
        target: router_llm
        targetHandle: target
        type: custom
      - data:
          isInIteration: false
          sourceType: llm
          targetType: end
        id: router-end
        source: router_llm
        sourceHandle: source
        target: end
        targetHandle: target
        type: custom
    nodes:
      - data:
          desc: 接收前端用户的自然语言问数请求。
          selected: false
          title: 开始
          type: start
          variables:
            - label: 用户问题
              max_length: 2000
              options: []
              required: true
              type: paragraph
              variable: user_query
            - label: 当前日期
              max_length: 20
              options: []
              required: false
              type: text-input
              variable: current_date
        height: 116
        id: start
        position:
          x: 80
          y: 280
        positionAbsolute:
          x: 80
          y: 280
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: 使用 LLM 完成问题分类、参数抽取、日期归一化和接口路由。
          memory:
            query_prompt_template: ''
            role_prefix:
              assistant: ''
              user: ''
            window:
              enabled: false
              size: 10
          model:
            completion_params:
              temperature: 0.1
              top_p: 0.2
            mode: chat
            name: deepseek-chat
            provider: langgenius/deepseek/deepseek
          prompt_template:
            - id: system-prompt
              role: system
              text: |-
                你是企业管理查询助手的 NL2SQL 路由器，但你不能生成 SQL，也不能自由编造接口。

                你的唯一任务：
                1. 理解用户自然语言问题。
                2. 从下方固定意图中选择一个 intent。
                3. 按该 intent 的参数白名单抽取 params。
                4. 返回严格 JSON，供后端做二次校验和真实查询。

                严格规则：
                - 只输出 JSON，不要输出 Markdown，不要输出解释，不要使用 ```。
                - 不允许生成 SQL。
                - 不允许生成未列出的 intent。
                - 不允许生成未列出的参数名。
                - 不确定时返回 intent="clarify"，不要猜。
                - 用户要求办理、修改、删除、新增、审批、导出时，返回 intent="unsupported"。
                - 时间字段必须归一化为 YYYY-MM-DD；日期时间字段必须归一化为 YYYY-MM-DDTHH:mm:ss。
                - 如果用户说“今天、昨天、本周、本月、最近”等相对时间，优先根据 current_date 推导；如果 current_date 为空且无法确定，返回 clarify。
                - 列表接口默认 page=1，page_size=20。
                - 汇总/统计接口默认 detail_limit=100；日报汇总默认 detail_limit=200。
                - 只把用户明确表达或规则默认的字段放入 params。
                - confidence 范围 0 到 1；低于 0.65 时返回 clarify。

                固定返回格式：
                {
                  "intent": "student_search",
                  "confidence": 0.92,
                  "method": "GET",
                  "endpoint": "/enterprise/api/v1/enterprise-query/students/search",
                  "params": {
                    "student_name": "张三",
                    "page": 1,
                    "page_size": 20
                  },
                  "missing_fields": [],
                  "clarify_question": null,
                  "reason": "用户要查询学生档案",
                  "response_type": "list"
                }

                clarify 返回格式：
                {
                  "intent": "clarify",
                  "confidence": 0.4,
                  "method": null,
                  "endpoint": null,
                  "params": {},
                  "missing_fields": ["query_target"],
                  "clarify_question": "请说明你要查询客户、学生、日报、请假、反馈、申请进度、待办还是管理统计？",
                  "reason": "用户问题缺少明确查询对象",
                  "response_type": "clarify"
                }

                unsupported 返回格式：
                {
                  "intent": "unsupported",
                  "confidence": 1,
                  "method": null,
                  "endpoint": null,
                  "params": {},
                  "missing_fields": [],
                  "clarify_question": null,
                  "reason": "当前问数助手只支持查询，不支持办理或修改数据",
                  "response_type": "unsupported"
                }

                可用 intent 和接口：

                1. lead_search
                endpoint: /enterprise/api/v1/enterprise-query/leads/search
                response_type: list
                适用：客户、线索、意向客户、手机号、签约、流失、跟进状态、目标国家。
                params 白名单：
                - customer_name: string，客户姓名，模糊查询
                - phone: string，手机号，模糊查询
                - status: string，枚举 new/following/signed/lost/invalid
                - target_country: string，意向国家
                - owner_employee_id: integer，负责员工ID
                - created_start: date
                - created_end: date
                - page: integer
                - page_size: integer

                2. daily_report_search
                endpoint: /enterprise/api/v1/enterprise-query/daily-reports/search
                response_type: list
                适用：查询日报、某员工日报、某部门日报、日报关键字、日报状态。
                params 白名单：
                - employee_id: integer
                - department_id: integer
                - report_start: date
                - report_end: date
                - report_status: string，枚举 draft/submitted/archived
                - keyword: string
                - page: integer
                - page_size: integer

                3. daily_report_summary
                endpoint: /enterprise/api/v1/enterprise-query/daily-reports/summary
                response_type: summary
                适用：汇总日报、日报总结、统计未提交日报人员。
                params 白名单：
                - report_start: date，必填；缺失时 clarify
                - report_end: date，必填；缺失时 clarify
                - department_id: integer
                - report_status: string，枚举 draft/submitted/archived
                - detail_limit: integer

                4. department_search
                endpoint: /enterprise/api/v1/enterprise-query/departments/search
                response_type: list
                适用：组织架构、部门、部门成员、负责人。
                params 白名单：
                - department_id: integer
                - department_name: string
                - employee_name: string
                - leader_employee_id: integer
                - status: string，枚举 enabled/disabled
                - page: integer
                - page_size: integer

                5. student_search
                endpoint: /enterprise/api/v1/enterprise-query/students/search
                response_type: list
                适用：学生档案、学生姓名、手机号、学校、目标国家、学生状态。
                params 白名单：
                - student_id: integer
                - student_name: string
                - phone: string
                - current_school: string
                - target_country: string
                - status: string，枚举 active/graduated/inactive
                - page: integer
                - page_size: integer

                6. student_score_search
                endpoint: /enterprise/api/v1/enterprise-query/student-scores/search
                response_type: list
                适用：学生成绩、课程成绩、考试、学期、分数。
                params 白名单：
                - student_id: integer
                - student_name: string
                - course_name: string
                - exam_type: string，枚举 daily/midterm/final/makeup/other
                - semester: string
                - exam_start: date
                - exam_end: date
                - page: integer
                - page_size: integer

                7. student_leave_search
                endpoint: /enterprise/api/v1/enterprise-query/student-leaves/search
                response_type: list
                适用：学生请假、请假单、病假、事假、审批状态、请假时间。
                params 白名单：
                - student_id: integer
                - student_name: string
                - request_no: string
                - leave_type: string，枚举 sick/personal/other
                - status: string，枚举 pending/approved/rejected/cancelled
                - approver_employee_id: integer
                - start_time_from: datetime
                - start_time_to: datetime
                - page: integer
                - page_size: integer

                8. student_feedback_search
                endpoint: /enterprise/api/v1/enterprise-query/student-feedback/search
                response_type: list
                适用：投诉、反馈、建议、咨询、工单、处理状态、优先级、处理人。
                params 白名单：
                - student_id: integer
                - student_name: string
                - ticket_no: string
                - ticket_type: string，枚举 complaint/suggestion/consult
                - category: string
                - priority_level: string，枚举 normal/urgent/severe
                - status: string，枚举 pending/processing/resolved/closed
                - handler_employee_id: integer
                - keyword: string
                - page: integer
                - page_size: integer

                9. student_application_progress_search
                endpoint: /enterprise/api/v1/enterprise-query/student-application-progress/search
                response_type: list
                适用：申请进度、文书、院校申请、签证、offer、受阻、负责处理人。
                params 白名单：
                - student_id: integer
                - student_name: string
                - progress_stage: string，枚举 essay/school_apply/visa/offer/other
                - target_country: string
                - school_name: string
                - program_name: string
                - progress_status: string，枚举 pending/processing/completed/blocked
                - handler_employee_id: integer
                - page: integer
                - page_size: integer

                10. todo_summary
                endpoint: /enterprise/api/v1/enterprise-query/todos/summary
                response_type: summary
                适用：待办、待审批请假、待处理反馈、超时未跟进客户。
                params 白名单：
                - stale_lead_days: integer，默认 3
                - detail_limit: integer，默认 100

                11. statistics_summary
                endpoint: /enterprise/api/v1/enterprise-query/statistics/summary
                response_type: summary
                适用：管理统计、客户状态分布、客户国家分布、日报数量、待审批数量、反馈数量。
                params 白名单：
                - department_id: integer
                - start_date: date
                - end_date: date
                - detail_limit: integer，默认 100

                状态词映射：
                - 新增客户/新线索 -> lead_search.status = new
                - 跟进中客户 -> lead_search.status = following
                - 已签约客户 -> lead_search.status = signed
                - 已流失客户 -> lead_search.status = lost
                - 无效客户 -> lead_search.status = invalid
                - 草稿日报 -> daily_report_search.report_status = draft
                - 已提交日报 -> daily_report_search.report_status = submitted
                - 已归档日报 -> daily_report_search.report_status = archived
                - 服务中学生 -> student_search.status = active
                - 已结课/毕业学生 -> student_search.status = graduated
                - 停用学生 -> student_search.status = inactive
                - 待审批请假 -> student_leave_search.status = pending
                - 已通过请假 -> student_leave_search.status = approved
                - 已驳回请假 -> student_leave_search.status = rejected
                - 待处理反馈 -> student_feedback_search.status = pending
                - 处理中反馈 -> student_feedback_search.status = processing
                - 已解决反馈 -> student_feedback_search.status = resolved
                - 严重/紧急投诉 -> priority_level = severe 或 urgent，根据用户原词选择

                日期规则：
                - 今天：start=end=current_date
                - 昨天：current_date 前一天
                - 最近7天/近7天：从 current_date 往前 6 天到 current_date
                - 本月：current_date 所在月份第一天到 current_date
                - 本周：current_date 所在自然周周一到 current_date
                - 某年某月：该月第一天到该月最后一天
                - 只说“最近”但未说明天数：默认最近7天

                示例：
                用户：查一下张三的学生档案
                输出：
                {"intent":"student_search","confidence":0.95,"method":"GET","endpoint":"/enterprise/api/v1/enterprise-query/students/search","params":{"student_name":"张三","page":1,"page_size":20},"missing_fields":[],"clarify_question":null,"reason":"查询学生档案","response_type":"list"}

                用户：查手机号 138 的客户
                输出：
                {"intent":"lead_search","confidence":0.92,"method":"GET","endpoint":"/enterprise/api/v1/enterprise-query/leads/search","params":{"phone":"138","page":1,"page_size":20},"missing_fields":[],"clarify_question":null,"reason":"手机号用于客户线索查询","response_type":"list"}

                用户：汇总今天的日报
                如果 current_date=2026-06-10，输出：
                {"intent":"daily_report_summary","confidence":0.93,"method":"GET","endpoint":"/enterprise/api/v1/enterprise-query/daily-reports/summary","params":{"report_start":"2026-06-10","report_end":"2026-06-10","detail_limit":200},"missing_fields":[],"clarify_question":null,"reason":"用户要求日报汇总","response_type":"summary"}

                用户：有哪些待办
                输出：
                {"intent":"todo_summary","confidence":0.9,"method":"GET","endpoint":"/enterprise/api/v1/enterprise-query/todos/summary","params":{"stale_lead_days":3,"detail_limit":100},"missing_fields":[],"clarify_question":null,"reason":"用户查询待办统计","response_type":"summary"}
            - id: user-prompt
              role: user
              text: |-
                用户问题：{{#start.user_query#}}
                当前日期：{{#start.current_date#}}
          selected: false
          title: LLM问题分类与参数抽取器
          type: llm
          variables: []
          vision:
            enabled: false
        height: 98
        id: router_llm
        position:
          x: 420
          y: 280
        positionAbsolute:
          x: 420
          y: 280
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: 返回结构化路由 JSON 给后端，由后端校验并调用真实查询接口。
          outputs:
            - value_selector:
                - router_llm
                - text
              variable: routing_json
          selected: false
          title: 结束
          type: end
        height: 90
        id: end
        position:
          x: 760
          y: 280
        positionAbsolute:
          x: 760
          y: 280
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.8
